{% extends "base.html" %}
{% block testgraph_noresult %}
        <div class="row" style="height:100vh;">
                <div class="col-md-10 col-md-offset-1 text-center" style="margin-top:30vh;">
                        <h3>Unfortunately, records for {{response}} are not in the database</h3>
                        <h3>But we can generate them for you. If you would like to proceed, enter GitHub username and click continue below</h3>
                        <form action"get_graph" method="POST">
                                <div class="form-group text-center">
                                <!--         <label style="font-weight:300; font-size:36px;">Enter GitHub username</label> -->
                                        <br /><br />
                                        <input type="text" class="form-control" name="reponame" placeholder="GitHub username">
                                        <br />
                                   <button type="submit" value="Send" name="reponame-container" class="btn btn-default id-submit">Continue</button>
                                </div>
                        </form>
                </div>
        </div>
{% endblock %}