{% extends "base.html" %}
{% block index %}
        <div class="row" style="height:100vh; background:#43aaa3; color: #fff;">
                <div class="col-md-10 col-md-offset-1 text-center" style="font-size:100px; padding-top:25vh">
                        <i class="fa fa-github"></i>
                        <h1 style="font-weight:300">Visualizing GitHub Developer Connections</h1>
                        <h3 style="font-weight:300; line-height:32px">GitHub Graph is a tool to enable developers to stay updated with the trends on GitHub that they would be interested in. It is a big data pipeline focused on answering- "For the users I follow, what are the repositories that those users follow and contribute to"</h3>
                </div>
        </div>
{% endblock %}