{% extends "base.html" %}
{% block slides %}

 <div class="row" style="min-height:100vh;">
                <div class="col-md-10 col-md-offset-1 text-center" style="padding-top:10vh; font-weight:300">
                        <h2>Presentation</h2>
                        <iframe src="//www.slideshare.net/slideshow/embed_code/key/oZna8VojrPOZyh" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/ronaknnatnani/githubgraph" title="GitHubGraph" target="_blank">GitHubGraph</a> </strong> from <strong><a href="//www.slideshare.net/ronaknnatnani" target="_blank">ronaknnatnani</a></strong> </div>
                </div>
                <!-- <iframe src="https://drive.google.com/file/d/0B0BkPzGh4NiWV01CNHlFWTV2dFU/preview" width="640" height="480"></iframe> -->



</div>

{% endblock %}