{% extends "base.html" %}
{% block userid %}
        <div class="row" style="height:100vh;">
                <div class="col-md-4 col-md-offset-4" style="margin-top:30vh;">
                        <form action"useridresult" method="POST">
                                <div class="form-group text-center">
                                        <label for="exampleInputEmail1" style="font-weight:300; font-size:36px;">Find your GitHub user id</label>
                                        <br /><br />
                                        <input type="text" class="form-control" name="userid" placeholder="username">
                                        <br />
                                        <button type="submit" value="Send" name="userid-container" class="btn btn-default id-submit">Submit</button>
                                </div>
                        </form>
                </div>
        </div>
{% endblock %}